<a href="https://colab.research.google.com/github/kusum1984/Python-_Shapes/blob/main/Draw_Shapes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Print Shapes in Python**

**Import libraries**

In [ ]:
import pandas as pd

**Print Square**

In [ ]:
a = 4
for i in range(a):
  for j in range(a ):
      print("*",end = " ")
  print()

* * * *
* * * *
* * * *
* * * *

**Print Rectangle**

In [123]:
a = 8
for i in range(a-4):
  for j in range(a ):
      print("*",end = " ")
  print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

**Print Right Triangle**

In [124]:
a=5
for i in range(1, a + 1):
    print("*" * i)

*
**
***
****
*****

**Print inverted Right Triangle**

In [ ]:
a = 5
for i in range(a-1,0, -1):
    print("*" *i)

****
***
**
*

**Print Equilateral Triangle**

In [ ]:


a = 5
for i in range(a):
  for j in range(a-i-1):
    print(" ", end=" ")
  for k in range(i*2+1):
    print("*", end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

**Print Inverted Equilateral Triangle**

In [113]:
for i in range(a - 2, -1, -1):
    for j in range(a - i - 1):
        print(" ", end=" ")
    for k in range(i * 2 + 1):
        print("*", end=" ")
    print()

  * * * * * * *
    * * * * *
      * * *
        *

**Print Diamond**

In [ ]:


a = 5

# Print the upper part of the diamond
for i in range(a):
    for j in range(a - i - 1):
        print(" ", end=" ")
    for k in range(i * 2 + 1):
        print("*", end=" ")
    print()

# Print the lower part of the diamond
for i in range(a - 2, -1, -1):
    for j in range(a - i - 1):
        print(" ", end=" ")
    for k in range(i * 2 + 1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

**Print Hourglass shape**

In [117]:
a = 5

# Print the upper part of the inverted triangle
for i in range(a - 1, -1, -1):
    for j in range(a - i - 1):
        print(" ", end=" ")
    for k in range(i * 2 + 1):
        print("*", end=" ")
    print()

# Print the lower part of the inverted triangle

a = 5
for i in range(a):
  for j in range(a-i-1):
    print(" ", end=" ")
  for k in range(i*2+1):
    print("*", end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *